# Shell script to store AZURE-specific environment variables
# Can be sourced and re-sourced to keep variables in shell instance

export AZURE_VPC_ID="## AZURE_VPC_ID###"
export AZURE_INSTANCE_TYPE="## AZURE_INSTANCE_TYPE###"
export AZURE_SUBNET_ID="## AZURE_SUBNET_ID###"
export DEFAULT_REGION="## AZURE_DEFAULT_REGION###"
